<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Classifier</title>
    <style>
        body{
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <h1>Food Classifier</h1>
    <img id="img" src="https://www.placeholder.com/500" width="500" height="500" alt="Selected Image">
    <form id="form">
        <input type="file" name="image" id="upload" accept="image/*">
        <input id="submit" type="submit" value="Classify Food">
    </form>
    <div id="result"></div>
</body>
<script>
    const uploadButton = document.getElementById('upload');
    const image = document.getElementById('img');

    uploadButton.addEventListener('change', (event)=>{
        const file = event.target.files[0];
        if(file){
            image.src = URL.createObjectURL(file);
        }
    });

    const submitButton = document.getElementById('submit');
    const resultDiv = document.getElementById('result');

    submitButton.addEventListener('click', (event)=>{
        event.preventDefault();
        getData();
    });

    async function getData() {
        const url = '/predict';
        const formData = new FormData();
        formData.append('image', uploadButton.files[0]);
        try {
            const response = await fetch(url, {
                method: 'POST',
                body: formData,
            });

            if(!response.ok) {
                console.log("not working");
            }

            const data = await response.json();
            console.log(data);
            resultDiv.innerHTML = `Description: ${data.description}<br>Calories: ${data.calories}<br>Protein: ${data.protein}<br>Fat: ${data.fat}<br>Carbs: ${data.carbs}`
        } catch(err) {
            console.log(err);
        }
    }

</script>
</html>